* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: auto;
  width: auto;
}

.encabezado {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
}

.encabezado nav ul {
  list-style: none;
  padding: 0;
}

.encabezado nav li {
  display: inline;
  margin-right: 10px;
}

.encabezado nav li a {
  text-decoration: none;
  color: black;
  margin-right: 2cm;
  font-size: 20px;
}

.img-container {
  display: flex;
  align-items: center;
}

.foto {
  height: 10cm;
  width: 8cm;
  border-radius: 2em;
  margin-top: 1em;
  margin-right: 1em;
  object-fit: cover;
  flex-shrink: 0;
}

.datospersonales {
  display: flex;
  align-items: center;
  margin-top: 2em;
}

.informacion {
  margin-bottom: 30px;
}
